.dark-theme {
  --primary-color: #f0483e;
  --secondary-color: #313338;
  --background-color: #1e1f22;
  --primary-text-color: #ffffff;
  --secondary-text-color: #949ba4;
  --hover-color: #404249;
  --border-color: #444;
  --accent-color: #ff6b6b;
  --error-color: #d32f2f;
  --success-color: #4caf50;
  --muted-color: #949ba4;
  --dark-muted-color: #2b2d31;
  --light-muted-color: #b5bac1;
  --dark-background: #111214;
  --light-background: #e0e0e0;
  --dark-text: #000000;
}

.light-theme {
  --primary-color: #f0483e;
  --secondary-color: #e0e0e0;
  --background-color: #ffffff;
  --primary-text-color: #000000;
  --secondary-text-color: #6c757d;
  --hover-color: #d3d3d3;
  --border-color: #ccc;
  --accent-color: #ff6b6b;
  --error-color: #d32f2f;
  --success-color: #4caf50;
  --muted-color: #6c757d;
  --dark-muted-color: #b5bac1;
  --light-muted-color: #2b2d31;
  --dark-background: #f0f0f0;
  --light-background: #ffffff;
  --dark-text: #333333;
}
