<nav>
    <div class="nav-logo">
      <!--<a href="#"><img src="" alt="logo image" /></a> ADD LOGO IMAGE-->
      <h2 id="title">ChatHaven</h2>
    </div>
    <ul class="nav-links">
      <li class="link"><a routerLink="/">Home</a></li>
      <!-- <li class="link"><a href="#">Features</a></li>
      <li class="link"><a routerLink="/pricing">Pricing</a></li>
      <li class="link"><a routerLink="/about">About Us</a></li>
      <li class="link"><a routerLink="/contact">Contact Us</a></li> -->
    </ul>
    <div id="signInDiv">
        <button (click)="goToLogin()" class="btn">Log In</button>
    </div>
  </nav>
  
  <hr>
  
  <header class="section-container header-container">
    <div class="header-content">
      <h4>Helping users stay connected</h4>
      <h1><span>Group chats</span> <br> made simple</h1>
      <p>
        Whether you're collaborating with a team, connecting with a community, or chatting privately with friends, ChatHaven offers an intuitive and organized space to stay connected.
      </p>
      <button class="btn">Learn more</button>
    </div>
    <div id="header-image" class="header-image">
      <img src="assets/header.png" alt="header" />
    </div>
  </header>
  
  <section class="section-container explore-container">
    <div class="explore-header">
      <h2 class="section-header">EXPLORE OUR FEATURES</h2>
    </div>
    <div class="explore-grid">
      <div class="explore-card">
        <h4>BUILD A COMMUNITY</h4>
        <p>Create a space where everyone can collaborate and sync up with the help of text channels.</p>
      </div>
      <div class="explore-card">
        <h4>PRIVATE MESSAGES</h4>
        <p>Talk to other users privately with the direct messaging (DM) feature.</p>
      </div>
      <div class="explore-card">
        <h4>MANAGE YOUR COMMUNITIES</h4>
        <p>Admin users can create/delete channels and moderate messages.</p>
      </div>
      <div class="explore-card">
        <h4>NEW FEATURE HERE</h4>
        <p>DESCRIPTION</p>
      </div>
    </div>
  </section>
  
  <section class="section-container left-container">
    <div class="left-img">
      <img src="assets/left.png" alt="left header" class="left-img1" />
    </div>
    <div class="company-content">
      <h2 class="section-header">Why ChatHaven?</h2>
      <p>
        ChatHaven allows users to connect and collaborate. Build an interactive community through our communication platform.
        Join a community or create one yourself! Exchange messages one-on-one or interact with others in a channel.
      </p>
      <div id="signInDiv-side">
        <button class="btn" routerLink="/login">Sign Up Now</button>
      </div>
    </div>
  </section>
  
  <footer class="section-container footer-container">
    <div class="footer-col">
      <div class="footer-logo"><img src="assets/icons8-logo-50.png" alt="logo" /></div>
      <h4>ChatHaven</h4>
      <p>A web-based communication platform. Empower your community.</p>
    </div>
    <div class="footer-col">
      <h4>Company</h4>
    </div>
    <div class="footer-col">
      <h4>Help</h4>
      <a href="#">FAQ</a>
    </div>
    <div class="footer-col">
      <h4>Security</h4>
    </div>
  </footer>
  <div class="footer-bar">
    Copyright © 2025 SOEN 341. All rights reserved.
  </div>
  