<div class="container">
  <h1>Create Channel</h1>
  <form class="custom-pop-up-centered">
    <div>
      <label>Channel Name</label>
      <input [(ngModel)]="channelName" name="channelName" />
    </div>
  </form>
  <form class="custom-pop-up-centered">
    <div>
      <label>Description</label>
      <input [(ngModel)]="description" name="description" />
    </div>
  </form>
  <form class="custom-pop-up-centered">
    <div>
      <label>Search Members</label>
      <input [(ngModel)]="searchQuery" name="searchQuery" />
      <button (click)="search()" class="custom-dark-button-theme">Add</button>
    </div>
  </form>
  <div>
    <button class="custom-dark-button-theme">Cancel</button>
    <button (click)="createChannel()" class="custom-dark-button-theme">
      Finish
    </button>
  </div>
</div>
