<div class="container">
  <div class="form-container">
    <h1>Create Channel</h1>
    <form class="form" (ngSubmit)="createChannel()">
      <div class="form-group">
        <label>Channel Name</label>
        <input
          required=""
          type="text"
          [(ngModel)]="channelName"
          name="channelName"
        />
      </div>
      <div class="form-group">
        <label for="textarea">Description</label>
        <textarea
          required=""
          cols="50"
          rows="10"
          id="textarea"
          name="textarea"
          [(ngModel)]="description"
        ></textarea>
      </div>
      <!-- Add Member -->
      <div class="form-group">
        <label for="searchQuery">Add Member</label>
        <div class="container-add-member">
          <input
            type="text"
            id="searchQuery"
            [(ngModel)]="searchQuery"
            name="searchQuery"
            required
            #searchQueryInput="ngModel"
          />
          <button class="add-member-btn" type="button" (click)="search()">
            Add
          </button>
        </div>
        <div class="found-message" *ngIf="found" style="height: 10px">
          {{ found }}
        </div>
      </div>
      <button type="submit" class="form-submit-btn">Submit</button>
    </form>
  </div>
</div>
