<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatHaven</title>
    <link rel="stylesheet" href="chat.component.css" />
    <link rel="stylesheet" href="colors.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="side-bar-1">
        <div class="add-team-button-container">
          <button class="add-team-button" (click)="openTeamDialog()">
            <i
              class="fa fa-plus"
              style="font-size: 24px; transition: transform 0.3s"
              onmouseover="this.style.transform='rotate(90deg)'"
              onmouseout="this.style.transform='rotate(0deg)'"
            ></i>
          </button>
        </div>
        <hr class="separator" />
        <div class="team-list">
          <ul>
            <li
              *ngFor="let team of teams$ | async"
              [ngClass]="{ selected: team.team_id === selectedTeam }"
              (click)="selectTeam(team)"
            >
              <a href="#">{{ team.team_name }}</a>
            </li>
          </ul>
        </div>
        <hr class="separator" />
        <div class="user-menu-container">
          <button class="user-menu" (click)="selectSetting()">
            <i
              class="fa fa-gear"
              style="font-size: 24px; transition: transform 0.3s"
              onmouseover="this.style.transform='rotate(90deg)'"
              onmouseout="this.style.transform='rotate(0deg)'"
            ></i>
          </button>
          <button class="user-menu" (click)="signOut()">
            <i class="fa fa-sign-out" style="font-size: 24px"></i>
          </button>
        </div>
      </div>
      <div class="side-bar-2">
        <div class="side-bar-2-title-container">
          <div class="side-bar-2-title">
            {{ teamSelectedName }}
          </div>
          <div class="add-channel-button-container">
            <button class="add-channel-button" (click)="openChannelDialog()">
              <i
                class="fa fa-plus"
                style="font-size: 24px; transition: transform 0.3s"
                onmouseover="this.style.transform='rotate(90deg)'"
                onmouseout="this.style.transform='rotate(0deg)'"
              ></i>
            </button>
          </div>
        </div>
        <div class="search-container">
          <input type="text" class="search-bar" placeholder="Search..." />
        </div>
        <hr class="separator" />
        <div class="channel-list">
          <ul>
            <li
              *ngFor="let channel of channels$ | async"
              [ngClass]="{ selected: channel.name === selectedChannel }"
              (click)="selectChannel(channel)"
            >
              {{ channel.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="chat-box">
        <div class="channel-title-container">
          <div class="channel-title">{{ channelTitle }}</div>
        </div>
        <div class="chat-log">
          <div class="message" *ngFor="let message of messages">
            <div class="message-profile-picture"></div>
            <div class="message-content">
              <div class="message-header">
                <span class="message-author">{{ message.author }}</span>
                <span class="message-date">{{ message.date }}</span>
              </div>
              <article class="message-text" readonly>
                {{ message.text }}
              </article>
            </div>
          </div>
        </div>
        <div class="input-container">
          <input class="input-container" />
          <button class="input-container">
            <i class="material-icons" style="font-size: 24px">send</i>
          </button>
        </div>
      </div>
      <div class="channel-setting-sidebar">
        <div class="channel-setting">
          <div class="channel-setting-button-container">
            <button class="channel-setting-button">
              <i class="fa fa-gear" style="font-size: 24px"></i> Setting
            </button>
          </div>
          <div class="channel-setting-button-container">
            <button class="channel-setting-button">
              <i class="fa fa-plus" style="font-size: 24px"></i> Add Members
            </button>
          </div>
        </div>
        <!-- From Uiverse.io by ilkhoeri -->
        <div class="channel-member-list-container">
          <div class="member-dropdown">
            <input
              hidden=""
              class="sr-only"
              name="state-member-dropdown"
              id="state-member-dropdown"
              type="checkbox"
            />
            <label
              aria-label="dropdown scrollbar"
              for="state-member-dropdown"
              class="member-trigger"
            ></label>

            <ul class="member-list webkit-scrollbar" role="list" dir="auto">
              <li
                class="member-listitem"
                role="listitem"
                *ngFor="let member of channelMemberList"
              >
                <article class="member-article">{{ member }}</article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
