:host {
  /* Sidebar #1 */
  --side-bar-1-separator: #35363c; /* Separator color */
  --side-bar-1-background: #1e1f22; /* Sidebar background */
  --side-bar-1-text: #dbdee1; /* Sidebar text color */

  /* Add team button */
  --add-team-button-background: #2f3136; /* Button background */
  --add-team-button-hover: #f53f3d; /* Button hover background */
  --add-team-button-text: #dbdee1; /* Button text color */

  /* Team list */
  --team-letter-color: #dbdee1; /* Team letter color */
  --team-button-background: #2f3136; /* Team button background */
  --team-button-hover: #f53f3d; /* Team button hover background */
  --team-background: #1e1f22; /* Team background */

  /* User menu */
  --user-button-background: #313338; /* User button background */
  --user-button-background-hover: #f53f3d; /* User button hover background */
  --user-button-text: #f53f3d; /* User button text color */
  --user-button-text-hover: #ffffff; /* User button hover text color */

  /* Sidebar #2 */
  --side-bar-2-background: #2b2d31; /* Sidebar background */
  --side-bar-2-text: #dbdee1; /* Sidebar text color */
  --side-bar-2-title-background: #2b2d31; /* Title background */
  --side-bar-2-title-text: #d1d4d8; /* Title text color */

  /* Team Title*/
  --team-title-background: #2b2d31; /* Team title background */
  --team-title-text: #d1d4d8; /* Team title text color */

  /* Team setting list */
  --team-setting-list-background: #111214; /* Team setting list background */
  --team-setting-list-text: #a9aeb5; /* Team setting list text color */
  --team-setting-list-element-background-hover: #f53f3d; /* Team setting list hover background */
  --team-setting-list-text-hover: #edeffe; /* Team setting list hover text color */

  /* Channel list */
  --channel-list-background: #2b2d31; /* Channel list background */
  --channel-list-backround-hover: #404249; /* Channel list hover background */
  --channel-list-text: #949ba4; /* Channel list text color */
  --channel-list-text-hover: #f3fcff; /* Channel list hover text color */

  /* Chat log */
  --chat-box-background: #313338; /* Chat box background */
  --chat-box-text: #bbbdc1; /* Chat box text color */
  --message-background: #313338; /* Message background */
  --message-background-hover: #2e3035; /* Message hover background */
  --message-text: #bbbdc1; /* Message text color */
  --message-username: #f2f3f5; /* Message username color */
  --message-date: #797f87; /* Message date color */

  /* Message box */
  --message-box: #383a40; /* Message box background */
  --message-box-hover: #4f5360; /* Message box hover background */
  --message-box-text: #6c6e78; /* Message box text color */
  --message-box-background: #2d2d2d; /* Message box background */
  --message-box-border: #3f3f3f; /* Message box border color */
  --message-box-focus-border: #6e6e6e; /* Message box focus border color */

  /* Send button */
  --send-button-background: #b5bac1; /* Send button background */
  --send-button-text: #000000; /* Send button text color */
  --send-button-hover-fill: #3c3c3c; /* Send button hover fill color */
  --send-button-hover-stroke: #ffffff; /* Send button hover stroke color */
  --send-button-path: #3c3c3c; /* Send button path color */
  --send-button-stroke: #ffffff; /* Send button stroke color */

  /* Tooltip */
  --tooltip-background: #000000; /* Tooltip background */
  --tooltip-border: #3c3c3c; /* Tooltip border color */
  --tooltip-shadow: #262626; /* Tooltip shadow color */

  /* Message input */
  --message-input-text: #ffffff; /* Message input text color */

  /* Separator */
  --separator-color: #35363c; /* Separator color */

  /* Pop-up */
  --pop-up-background-color: #212121;
  --pop-up-text-color: #fff;
  --pop-up-secondary-text-color: #717171;
  --pop-up-border-color: #414141;
  --pop-up-highlight-color: #ff6b6b;
  --pop-up-button-background: #313131;
}

body {
  background-color: black;
  color: white;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.container {
  background-color: var(--side-bar-1-background);
  color: var(--side-bar-1-text);
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.separator {
  align-self: center;
  background-color: var(--separator-color);
  border-bottom: var(--separator-color);
  border-left: var(--separator-color);
  border-right: var(--separator-color);
  border-top: var(--separator-color);
  color: var(--separator-color);
  height: 2px;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
