/* @import "./colors.css"; */
:root {
  /* Sidebar #1 */
  --side-bar-1-separator: #35363c; /* Separator color */
  --side-bar-1-background: #1e1f22; /* Sidebar background */
  --side-bar-1-text: #dbdee1; /* Sidebar text color */

  /* Add team button */
  --add-team-button-background: #2f3136; /* Button background */
  --add-team-button-hover: #f53f3d; /* Button hover background */
  --add-team-button-text: #dbdee1; /* Button text color */

  /* Team list */
  --team-letter-color: #dbdee1; /* Team letter color */
  --team-button-background: #2f3136; /* Team button background */
  --team-button-hover: #f53f3d; /* Team button hover background */
  --team-background: #1e1f22; /* Team background */

  /* User menu */
  --user-button-background: #313338; /* User button background */
  --user-button-background-hover: #f53f3d; /* User button hover background */
  --user-button-text: #f53f3d; /* User button text color */
  --user-button-text-hover: #ffffff; /* User button hover text color */

  /* Sidebar #2 */
  --side-bar-2-background: #2b2d31; /* Sidebar background */
  --side-bar-2-text: #dbdee1; /* Sidebar text color */
  --side-bar-2-title-background: #2b2d31; /* Title background */
  --side-bar-2-title-text: #d1d4d8; /* Title text color */

  /* Add channel button */
  --add-channel-button-background: #b5bac1; /* Button background */
  --add-channel-button-text: #2f3136; /* Button text color */
  --add-channel-button-background-hover: #ff6b6b; /* Button hover background */
  --add-channel-button-text-hover: #2f3136; /* Button hover text color */

  /* Search box */
  --search-bar-background: #1e1f22; /* Search bar background */
  --search-bar-text: #dbdee1; /* Search bar text color */
  --search-bar-border: #555555; /* Search bar border color */
  --search-bar-hover: #bbbbbb; /* Search bar hover text color */

  /* Channel list */
  --channel-list-background: #2b2d31; /* Channel list background */
  --channel-list-backround-hover: #404249; /* Channel list hover background */
  --channel-list-text: #949ba4; /* Channel list text color */
  --channel-list-text-hover: #f3fcff; /* Channel list hover text color */

  /* Chat log */
  --chat-box-background: #313338; /* Chat box background */
  --chat-box-text: #bbbdc1; /* Chat box text color */
  --message-background: #313338; /* Message background */
  --message-background-hover: #2e3035; /* Message hover background */
  --message-text: #bbbdc1; /* Message text color */
  --message-username: #f2f3f5; /* Message username color */
  --message-date: #797f87; /* Message date color */

  /* Message box */
  --message-box: #383a40; /* Message box background */
  --message-box-hover: #4f5360; /* Message box hover background */
  --message-box-text: #6c6e78; /* Message box text color */
  --message-box-background: #2d2d2d; /* Message box background */
  --message-box-border: #3f3f3f; /* Message box border color */
  --message-box-focus-border: #6e6e6e; /* Message box focus border color */

  /* Send button */
  --send-button-background: #b5bac1; /* Send button background */
  --send-button-text: #000000; /* Send button text color */
  --send-button-hover-fill: #3c3c3c; /* Send button hover fill color */
  --send-button-hover-stroke: #ffffff; /* Send button hover stroke color */
  --send-button-path: #3c3c3c; /* Send button path color */
  --send-button-stroke: #ffffff; /* Send button stroke color */

  /* File upload */
  --file-upload-hover-path: #ffffff; /* File upload hover path color */
  --file-upload-hover-circle: #ffffff; /* File upload hover circle color */
  --file-upload-hover-fill: #3c3c3c; /* File upload hover fill color */

  /* Tooltip */
  --tooltip-background: #000000; /* Tooltip background */
  --tooltip-border: #3c3c3c; /* Tooltip border color */
  --tooltip-shadow: #262626; /* Tooltip shadow color */

  /* Message input */
  --message-input-text: #ffffff; /* Message input text color */

  /* Separator */
  --separator-color: #35363c; /* Separator color */
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1e1f22; /* var(--side-bar-1-background) */
  color: #dbdee1; /* var(--side-bar-1-text) */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.separator {
  margin: 0;
  padding: 0;
  background-color: #35363c; /* var(--separator-color) */
  border-top: #35363c; /* var(--separator-color) */
  border-bottom: #35363c; /* var(--separator-color) */
  border-right: #35363c; /* var(--separator-color) */
  border-left: #35363c; /* var(--separator-color) */
  color: #35363c; /* var(--separator-color) */
  width: 80%;
  height: 2px;
  align-self: center;
}

/*Sidebar #1*/
.side-bar-1 {
  margin: 0;
  background-color: #1e1f22; /* var(--side-bar-1-background) */
  color: #dbdee1; /* var(--side-bar-1-text) */
  max-width: 80px;
  min-width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-team-button-container {
  height: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.add-team-button {
  background-color: #2f3136; /* var(--add-team-button-background) */
  color: #dbdee1; /* var(--add-team-button-text) */
  border: none;
  max-width: 48px;
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-team-button:hover {
  background-color: #f53f3d; /* var(--add-team-button-hover) */
  border-radius: 30%;
}
.team-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 77%;
  margin: 0;
  padding-top: 0;
}
.team-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.team-list li {
  background-color: #2f3136; /* var(--team-button-background) */
  color: #dbdee1; /* var(--team-letter-color) */
  border: none;
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 48px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px 0;
  white-space: nowrap;
  display: flex;
}
.team-list li a {
  background-color: #2f3136; /* var(--team-button-background) */
  color: #dbdee1; /* var(--team-letter-color) */
  border: none;
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 48px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px 0;
  white-space: nowrap;
  display: flex;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.team-list li a:hover {
  background-color: #f53f3d; /* var(--team-button-hover) */
  border-radius: 30%;
}
.user-menu-container {
  height: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}
.user-menu {
  background-color: #313338; /* var(--user-button-background) */
  color: #f53f3d; /* var(--user-button-text) */
  border: none;
  max-width: 48px;
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  padding: 10px;
  margin: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}
.user-menu:hover {
  max-width: 48px;
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  background-color: #f53f3d; /* var(--user-button-background-hover) */
  color: #ffffff; /* var(--user-button-text-hover) */
  border-radius: 30%;
}

/*Sidebar #2*/
.side-bar-2 {
  background-color: #2b2d31; /* var(--side-bar-2-background) */
  margin: 0;
  padding-top: 7px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: horizontal;
  justify-content: horizontal;
  color: #dbdee1; /* var(--side-bar-2-text) */
  width: 400px;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.side-bar-2-title-container {
  flex-shrink: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: #2b2d31; /* var(--side-bar-2-title-background) */
  height: 5.5%;
  border-bottom: 2px solid #35363c; /* var(--separator-color) */
}
.side-bar-2-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin: 5px;
  padding: 0;
  width: 80%;
  height: 90%;
  background-color: #2b2d31; /* var(--side-bar-2-title-background) */
  color: #d1d4d8; /* var(--side-bar-2-title-text) */
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}
.add-channel-button-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}
.add-channel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #b5bac1; /* var(--add-channel-button-background) */
  color: #2f3136; /* var(--add-channel-button-text) */
}
.add-channel-button:hover {
  background-color: #ff6b6b; /* var(--add-channel-button-background-hover) */
  color: #2f3136; /* var(--add-channel-button-text-hover) */
  border-radius: 30%;
  width: 35px;
  height: 35px;
  border-color: none;
}
.search-container {
  flex-shrink: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: #2b2d31; /* var(--side-bar-2-background) */
  height: 5%;
}
.search-bar {
  padding-top: 10px;
  width: 80%;
  height: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #555555; /* var(--search-bar-border) */
  background-color: #1e1f22; /* var(--search-bar-background) */
  color: #dbdee1; /* var(--search-bar-text) */
  outline: none;
  font-size: 16px;
}
.search-bar:hover {
  color: #bbbbbb; /* var(--search-bar-hover) */
}
.channel-list {
  background-color: #2b2d31; /* var(--channel-list-background) */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 88%;
  margin: 0;
  padding-top: 0;
  align-items: center;
}
.channel-list ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.channel-list li {
  display: flex;
  background-color: #2b2d31; /* var(--channel-list-background) */
  color: #949ba4; /* var(--channel-list-text) */
  border: none;
  min-width: 95%;
  max-width: 95%;
  min-height: 50px;
  max-height: 50px;
  border-radius: 10px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin: 1px 0;
  white-space: nowrap;
  display: flex;
  text-decoration: none;
  overflow: hidden;
}
.channel-list li:hover {
  background-color: #404249; /* var(--channel-list-backround-hover) */
  color: #f3fcff; /* var(--channel-list-text-hover) */
}

/*Chat Log*/
.chat-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #313338; /* var(--chat-box-background) */
  color: #bbbdc1; /* var(--chat-box-text) */
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.channel-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 5%;
  background-color: #2b2d31; /* var(--side-bar-2-title-background) */
  color: #d1d4d8; /* var(--side-bar-2-title-text) */
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}

.chat-log {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 93%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.message {
  display: flex;
  flex-direction: row;
  background-color: #313338; /* var(--message-background) */
  color: #bbbdc1; /* var(--message-text) */
  border: none;
  width: 100%;
  min-height: 50px;
  max-height: auto;
  border-radius: 10px;
  padding: 0;
  text-align: left;
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  white-space: nowrap;
  display: flex;
  gap: 5px;
}
.message:hover {
  background-color: #2e3035; /* var(--message-hover-background) */
}
.message-profile-picture {
  display: flex;
  color: #313338; /* var(--message-profile-picture) */
  background-color: #313338; /* var(--message-profile-picture) */
  max-height: 35px;
  min-height: 35px;
  max-width: 35px;
  min-width: 35px;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}
.message-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 5px;
}
.message-header {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: flex-start;
  margin: 5px;
  padding: 0;
}
.message-author {
  color: #f2f3f5; /* var(--message-username) */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.message-date {
  color: #797f87; /* var(--message-date) */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.message-text {
  width: 90%;
  background-color: inherit;
  font: 16px Arial, sans-serif;
  color: #bbbdc1; /* var(--message-text) */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 7px;
  overflow: hidden;
  gap: 3px;
  border: none;
  text-align: left;
  white-space: nowrap;
  resize: none;
  overflow: hidden;
}
.input-container {
  width: 100%;
  height: 7%;
  /* background-color: red; */
  /* border-radius: 100%; */
  /* background-color: #383a40; */
  color: #dbdee1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-right: 50px;
  box-sizing: border-box;
  gap: 5px;
}

.messageBox {
  width: 100%;
  /* width: auto; */
  /* width: fit-content; */
  /* width: max-content; */
  /* width: min-content; */
  /* width: inherit; */
  /* width: initial; */
  /* width: unset; */
  /* width: 50%; */
  /* width: 200px; */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383a40; /* var(--message-box) */
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid #3f3f3f; /* var(--message-box-border) */
}
.messageBox:focus-within {
  border: 1px solid #4f5360; /* var(--message-box-hover) */
}
.fileUploadWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
#file {
  display: none;
}
.fileUploadWrapper label {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fileUploadWrapper label svg {
  height: 18px;
}
.fileUploadWrapper label svg path {
  transition: all 0.3s;
}
.fileUploadWrapper label svg circle {
  transition: all 0.3s;
}
.fileUploadWrapper label:hover svg path {
  stroke: #ffffff; /* var(--file-upload-hover-path) */
}
.fileUploadWrapper label:hover svg circle {
  stroke: #ffffff; /* var(--file-upload-hover-circle) */
  fill: #3c3c3c; /* var(--file-upload-hover-fill) */
}
.fileUploadWrapper label:hover .tooltip {
  display: block;
  opacity: 1;
}
.tooltip {
  position: absolute;
  top: -40px;
  display: none;
  opacity: 0;
  color: white;
  font-size: 10px;
  text-wrap: nowrap;
  background-color: #000000; /* var(--tooltip-background) */
  padding: 6px 10px;
  border: 1px solid #3c3c3c; /* var(--tooltip-border) */
  border-radius: 5px;
  box-shadow: 0px 5px 10px #262626; /* var(--tooltip-shadow) */
  transition: all 0.3s;
}
#messageInput {
  width: 95%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: #ffffff; /* var(--message-input-text) */
}
#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c; /* var(--send-button-path) */
  stroke: #ffffff; /* var(--send-button-stroke) */
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
#sendButton svg path {
  transition: all 0.3s;
}
#sendButton:hover svg path {
  fill: #3c3c3c; /* var(--send-button-hover-fill) */
  stroke: #ffffff; /* var(--send-button-hover-stroke) */
}

/* Channel SideBar*/

/* .input-container input {
  width: 100%;
  height: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #555;
  background-color: #383a40;
  color: #6c6e78;
  outline: none;
  font-size: 16px;
  gap: 5px;
}
.input-container input :hover {
  background-color: #4f5360;
}
.send-button {
  border: 2px solid #555;
  font-weight: bold;
  background-color: #b5bac1;
  color: black;
  border: none;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50px;
  min-height: 40px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */
