.dark-theme {
  /* Sidebar #1 */
  --side-bar-1-separator: #35363c; /* Separator color */
  --side-bar-1-background: #1e1f22; /* Sidebar background */
  --side-bar-1-text: #dbdee1; /* Sidebar text color */

  /* Add team button */
  --add-team-button-background: #2f3136; /* Button background */
  --add-team-button-hover: #f53f3d; /* Button hover background */
  --add-team-button-text: #dbdee1; /* Button text color */

  /* Team list */
  --team-letter-color: #dbdee1; /* Team letter color */
  --team-button-background: #2f3136; /* Team button background */
  --team-button-hover: #f53f3d; /* Team button hover background */
  --team-background: #1e1f22; /* Team background */

  /* User menu */
  --user-button-background: #f53f3d; /* User button background */
  --user-button-text: #313338; /* User button text color */
  --user-button-border: #313338; /* User button text color */

  --user-options-background: #1e1f22; /* User options background */
  --user-options-text: #f53f3d; /* User options text color */
  --user-options-border: #f53f3d; /* User options border color */

  /* Sidebar #2 */
  --side-bar-2-background: #2b2d31; /* Sidebar background */
  --side-bar-2-text: #dbdee1; /* Sidebar text color */
  --side-bar-2-title-background: #2b2d31; /* Title background */
  --side-bar-2-title-text: #d1d4d8; /* Title text color */

  /* Team Title*/
  --team-title-background: #2b2d31; /* Team title background */
  --team-title-text: #d1d4d8; /* Team title text color */

  /* Team setting list */
  --team-setting-list-background: #111214; /* Team setting list background */
  --team-setting-list-text: #a9aeb5; /* Team setting list text color */
  --team-setting-list-element-background-hover: #f53f3d; /* Team setting list hover background */
  --team-setting-list-text-hover: #edeffe; /* Team setting list hover text color */

  /* Channel list */
  --channel-list-background: #2b2d31; /* Channel list background */
  --channel-list-backround-hover: #404249; /* Channel list hover background */
  --channel-list-text: #949ba4; /* Channel list text color */
  --channel-list-text-hover: #f3fcff; /* Channel list hover text color */

  /* Chat log */
  --chat-box-background: #313338; /* Chat box background */
  --chat-box-text: #bbbdc1; /* Chat box text color */
  --message-background: #313338; /* Message background */
  --message-background-hover: #2e3035; /* Message hover background */
  --message-text: #bbbdc1; /* Message text color */
  --message-username: #f2f3f5; /* Message username color */
  --message-date: #797f87; /* Message date color */
  --profile-picture-background: #f53f3d; /* Profile picture background */

  /* Input Container */
  --input-container-background: #383a40; /* Input container background */
  --input-container-hover: #4f5360; /* Input container hover background */
  --input-container-text: #dadde0; /* Input container text color */
  --input-container-border: #3f3f3f; /* Input container border color */
  --input-container-focus-border: #6e6e6e; /* Input container focus border color */
  --input-container-border-color: #5a5a5a; /* Input container border color */

  /* Send button */
  --send-button-background: #b5bac1; /* Send button background */
  --send-button-text: #000000; /* Send button text color */
  --send-button-hover-fill: #3c3c3c; /* Send button hover fill color */
  --send-button-hover-stroke: #ffffff; /* Send button hover stroke color */
  --send-button-path: #3c3c3c; /* Send button path color */
  --send-button-stroke: #ffffff; /* Send button stroke color */

  /* Tooltip */
  --tooltip-background: #000000; /* Tooltip background */
  --tooltip-border: #3c3c3c; /* Tooltip border color */
  --tooltip-shadow: #262626; /* Tooltip shadow color */

  /* Message input */
  --message-input-text: #ffffff; /* Message input text color */

  /* Separator */
  --separator-color: #35363c; /* Separator color */

  /* Pop-up */
  --pop-up-background-color: #212121;
  --pop-up-text-color: #fff;
  --pop-up-secondary-text-color: #717171;
  --pop-up-border-color: #414141;
  --pop-up-highlight-color: #f53f3d;
  --pop-up-button-background: #313131;
}

.light-theme {
  /* Sidebar #1 */
  --side-bar-1-separator: #e0e0e0; /* Separator color */
  --side-bar-1-background: #ffffff; /* Sidebar background */
  --side-bar-1-text: #000000; /* Sidebar text color */

  /* Add team button */
  --add-team-button-background: #f0f0f0; /* Button background */
  --add-team-button-hover: #f53f3d; /* Button hover background */
  --add-team-button-text: #000000; /* Button text color */

  /* Team list */
  --team-letter-color: #000000; /* Team letter color */
  --team-button-background: #f0f0f0; /* Team button background */
  --team-button-hover: #f53f3d; /* Team button hover background */
  --team-background: #ffffff; /* Team background */

  /* User menu */
  --user-button-background: #f53f3d; /* User button background */
  --user-button-text: #ffffff; /* User button text color */
  --user-button-border: #ffffff; /* User button border color */

  --user-options-background: #ffffff; /* User options background */
  --user-options-text: #f53f3d; /* User options text color */
  --user-options-border: #f53f3d; /* User options border color */

  /* Sidebar #2 */
  --side-bar-2-background: #f5f5f5; /* Sidebar background */
  --side-bar-2-text: #000000; /* Sidebar text color */
  --side-bar-2-title-background: #f5f5f5; /* Title background */
  --side-bar-2-title-text: #000000; /* Title text color */

  /* Team Title */
  --team-title-background: #f5f5f5; /* Team title background */
  --team-title-text: #000000; /* Team title text color */

  /* Team setting list */
  --team-setting-list-background: #ffffff; /* Team setting list background */
  --team-setting-list-text: #000000; /* Team setting list text color */
  --team-setting-list-element-background-hover: #f53f3d; /* Team setting list hover background */
  --team-setting-list-text-hover: #ffffff; /* Team setting list hover text color */

  /* Channel list */
  --channel-list-background: #f5f5f5; /* Channel list background */
  --channel-list-backround-hover: #e0e0e0; /* Channel list hover background */
  --channel-list-text: #000000; /* Channel list text color */
  --channel-list-text-hover: #f53f3d; /* Channel list hover text color */

  /* Chat log */
  --chat-box-background: #ffffff; /* Chat box background */
  --chat-box-text: #000000; /* Chat box text color */
  --message-background: #ffffff; /* Message background */
  --message-background-hover: #e0e0e0; /* Message hover background */
  --message-text: #000000; /* Message text color */
  --message-username: #000000; /* Message username color */
  --message-date: #757575; /* Message date color */
  --profile-picture-background: #f53f3d; /* Profile picture background */

  /* Input Container */
  --input-container-background: #f0f0f0; /* Input container background */
  --input-container-hover: #d0d0d0; /* Input container hover background */
  --input-container-text: #000000; /* Input container text color */
  --input-container-border: #c0c0c0; /* Input container border color */
  --input-container-focus-border: #a0a0a0; /* Input container focus border color */
  --input-container-border-color: #b0b0b0; /* Input container border color */

  /* Send button */
  --send-button-background: #000000; /* Send button background */
  --send-button-text: #ffffff; /* Send button text color */
  --send-button-hover-fill: #e0e0e0; /* Send button hover fill color */
  --send-button-hover-stroke: #000000; /* Send button hover stroke color */
  --send-button-path: #e0e0e0; /* Send button path color */
  --send-button-stroke: #000000; /* Send button stroke color */

  /* Tooltip */
  --tooltip-background: #ffffff; /* Tooltip background */
  --tooltip-border: #c0c0c0; /* Tooltip border color */
  --tooltip-shadow: #a0a0a0; /* Tooltip shadow color */

  /* Message input */
  --message-input-text: #000000; /* Message input text color */

  /* Separator */
  --separator-color: #e0e0e0; /* Separator color */

  /* Pop-up */
  --pop-up-background-color: #ffffff;
  --pop-up-text-color: #000000;
  --pop-up-secondary-text-color: #757575;
  --pop-up-border-color: #c0c0c0;
  --pop-up-highlight-color: #f53f3d;
  --pop-up-button-background: #f0f0f0;
}

body {
  background-color: black;
  color: white;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.container {
  background-color: var(--side-bar-1-background);
  color: var(--side-bar-1-text);
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.separator {
  align-self: center;
  background-color: var(--separator-color);
  border-bottom: var(--separator-color);
  border-left: var(--separator-color);
  border-right: var(--separator-color);
  border-top: var(--separator-color);
  color: var(--separator-color);
  height: 2px;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
