<body>
  <div class="container">
    <a routerLink="/">
      <!-- <img class="logoImg" src=" "/> INSERT LOGO-->
    </a>

    <!-- Sign In Form -->
    <div class="signinForm form-transition" *ngIf="showSignInForm">
      <h1>Sign In</h1>
      <form>
        <input
          type="text"
          placeholder="Email"
          [(ngModel)]="signInForm.email"
          name="email"
          required
        />
        <div class="input-container">
          <input
            type="{{ passwordVisible ? 'text' : 'password' }}"
            placeholder="Password"
            [(ngModel)]="signInForm.password"
            name="password"
            required
          />
          <i
            class="fa password-toggle"
            [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>

        <span *ngIf="loginError" id="logInError"
          >Incorrect email or password</span
        >
        <label>
          Remember Me
          <input type="checkbox" />
        </label>
        <div class="submit">
          <button type="submit" (click)="login()">Sign In</button>
        </div>
      </form>
      <p>Having trouble signing in?</p>
      <a href="#" class="smallBtn">Reset your Password</a>
      <hr />
      <p>Don't have an account?</p>
      <a href="#" class="smallBtn" (click)="toggleForm()">Sign Up</a>
    </div>

    <!-- Sign Up Form -->
    <div class="signupForm form-transition" *ngIf="!showSignInForm">
      <h1>Sign Up</h1>
      <form>
        <div class="input-container">
          <input
            type="text"
            placeholder="First Name"
            [(ngModel)]="signUpForm.firstName"
            name="firstName"
            required
          />
          <span *ngIf="!validationErrors.firstNameValid">
            {{ validationErrorMessages.firstNameError }}
          </span>
        </div>

        <div class="input-container">
          <input
            type="text"
            placeholder="Last Name"
            [(ngModel)]="signUpForm.lastName"
            name="lastName"
            required
          />
          <span *ngIf="!validationErrors.lastNameValid">
            {{ validationErrorMessages.lastNameError }}
          </span>
        </div>

        <hr />

        <div class="input-container">
          <input
            type="text"
            placeholder="Username"
            [(ngModel)]="signUpForm.username"
            name="username"
            required
            autocomplete="new-password"
          />
          <span *ngIf="!validationErrors.usernameValid">
            {{ validationErrorMessages.usernameError }}
          </span>
        </div>

        <div class="input-container">
          <input
            type="text"
            placeholder="Email"
            [(ngModel)]="signUpForm.email"
            name="email"
            required
            autocomplete="new-password"
          />
          <span *ngIf="!validationErrors.emailValid">
            {{ validationErrorMessages.emailError }}
          </span>
        </div>

        <div class="input-container">
          <input
            type="{{ passwordVisible ? 'text' : 'password' }}"
            placeholder="Password"
            [(ngModel)]="signUpForm.password"
            name="password"
            required
            autocomplete="new-password"
            (input)="confirmPasswordMatch()"
          />
          <i
            class="fa password-toggle"
            [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePasswordVisibility()"
          ></i>
          <span *ngIf="!validationErrors.passwordValid">
            {{ validationErrorMessages.passwordError }}
          </span>
        </div>

        <div class="input-container">
          <input
            type="{{ passwordVisible ? 'text' : 'password' }}"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
            autocomplete="new-password"
            (input)="confirmPasswordMatch()"
          />
          <i
            class="fa password-toggle"
            [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>
        <span class="error-message" *ngIf="!validationErrors.passwordsMatch">
          {{ validationErrorMessages.passwordMatchError }}
        </span>
        <div class="radio">
          <label>
            <input
              type="radio"
              name="role"
              [(ngModel)]="signUpForm.role"
              value="admin"
              required
            />
            Admin
          </label>
          <label>
            <input
              type="radio"
              name="role"
              [(ngModel)]="signUpForm.role"
              value="user"
              required
            />
            User
          </label>
        </div>

        <div class="submit">
          <button type="submit" (click)="register()">Sign Up</button>
        </div>
      </form>

      <hr />
      <p>Already have an account?</p>
      <a href="#" class="smallBtn" (click)="toggleForm()">Sign In</a>
    </div>
  </div>
  <svg
 viewBox="0 0 2 1"
 preserveAspectRatio="none">
  <defs>
    <path id="w"
      d="
      m0 1v-.5
      q.5.5 1 0
      t1 0 1 0 1 0
      v.5z" />
  </defs>
  <g>
  <use href="#w" y=".0" fill="#f0483e" opacity="0.8" />
  <use href="#w" y=".1" fill="#d64038" opacity="0.5" />
  <use href="#w" y=".2" fill="#b53832" opacity="0.3" />
  </g>
 </svg>
</body>
