.team-side-bar {
  position: relative;
  background-color: var(--side-bar-1-background);
  color: var(--side-bar-1-text);
  display: block;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  max-width: 5rem;
  min-width: 5rem;
  padding: 0;
}

.direct-message-container {
  background-color: var(--side-bar-1-background);
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 8rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 2px solid var(--separator);
}

.add-team-button {
  align-items: center;
  background-color: var(--add-team-button-background);
  border: none;
  border-radius: 50%;
  color: var(--add-team-button-text);
  cursor: pointer;
  justify-content: center;
  margin: 5px;
  max-width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 10px;
  position: relative;
}

.direct-message-button {
  align-items: center;
  background-color: var(--user-button-background);
  border: none;
  border-radius: 50%;
  color: var(--user-button-text);
  cursor: pointer;
  justify-content: center;
  margin: 5px;
  max-width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 10px;
  position: relative;
}

.add-team-button:hover {
  background-color: var(--add-team-button-hover);
  border-radius: 30%;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
  visibility: visible;
}

.conversation-button:hover {
  background-color: var(--add-team-button-hover);
  border-radius: 30%;
  visibility: visible;
}

.team-list {
  display: flex;
  flex-direction: column;
  height: calc(100% - 12rem);
  /*FIX*/
  margin-top: 8.5rem;
  margin-bottom: 7rem;
  max-height: fit-content;
  padding-top: 0;
  width: 100%;
}

.team-list ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  scrollbar-width: none;
  width: 100%;
  -ms-overflow-style: none;
}

.team-list li {
  align-items: center;
  background-color: var(--team-button-background);
  border: none;
  border-radius: 50%;
  color: var(--team-letter-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 5px 0;
  max-height: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}

.team-list li a {
  align-items: center;
  background-color: var(--team-button-background);
  border: none;
  border-radius: 50%;
  color: var(--team-letter-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 5px 0;
  max-height: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.team-list li a:hover {
  background-color: var(--team-button-hover);
  border-radius: 30%;
}

.team-list li:hover {
  background-color: var(--team-button-hover);
  border-radius: 30%;
}

.user-menu-container {
  background-color: var(--side-bar-1-background);
  position: absolute;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 4rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 2px solid var(--separator);
}

.menu-toggle-button {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  background-color: var(--user-button-background);
  border: 2px solid var(--user-button-border);
  color: var(--user-button-text);
  font-size: 30px;
  font-weight: 700;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(16, 16, 16, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(16, 16, 16, 0.5);
  box-shadow: 0px 3px 10px 0px rgba(16, 16, 16, 0.5);
}

.menu-toggle-checkbox {
  width: 3rem;
  height: 3rem;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.menu-option {
  position: absolute;
  background-color: var(--user-options-background);
  border: 2px solid var(--user-options-border);
  color: var(--user-options-text);
  z-index: 5;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(16, 16, 16, 0.5);
  -moz-box-shadow: 3px 3px 10px 0px rgba(16, 16, 16, 0.5);
  box-shadow: 3px 3px 10px 0px rgba(16, 16, 16, 0.5);
}

.menu-toggle-checkbox:checked ~ .menu-option {
  z-index: 15; /* Bring options above button when checked */
}
.menu-toggle-checkbox:hover ~ .menu-toggle-button,
.menu-toggle-checkbox:checked ~ .menu-toggle-button {
  scale: 0.98;
  box-shadow: none;
  border-radius: 30%;
}

.menu-toggle-checkbox:not(:checked) ~ .menu-toggle-button::before {
  display: flex;
}

.menu-toggle-checkbox:checked ~ .menu-toggle-button::after {
  scale: 0.98;
  box-shadow: none;
  border-radius: 30%;
}

.menu-toggle-checkbox:not(:checked) ~ .menu-option {
  box-shadow: none;
}

.menu-option:hover,
.menu-option:active,
.menu-option:focus {
  box-shadow: none;
  scale: 0.98;
  border-radius: 30%;
}

.menu-toggle-checkbox:checked ~ .menu-option-1 {
  transition-delay: 0.1s;
  transform: translateY(-90px);
}

.menu-toggle-checkbox:checked ~ .menu-option-2 {
  transition-delay: 0.2s;
  transform: translateY(-65px) translateX(65px);
}

.menu-toggle-checkbox:checked ~ .menu-option-3 {
  transition-delay: 0.3s;
  transform: translateX(90px);
}
