<div class="container">
  <a routerLink="/">
    <!-- <img class="logoImg" src=" "/> INSERT LOGO-->
  </a>

  <!-- Sign In Form -->
  <div class="signinForm form-transition" *ngIf="showSignInForm">
    <h1>Sign In</h1>
    <form>
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="signInData.username"
        name="username"
        required
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="signInData.password"
        name="password"
        required
      />
      <span *ngIf="loginError" id="logInError"
        >Incorrect email or password</span
      >
      <label>
        Remember Me
        <input type="checkbox" />
      </label>
      <div class="submit">
        <button type="submit">Sign In</button>
      </div>
    </form>
    <p>Having trouble signing in?</p>
    <a href="#" class="smallBtn">Reset your Password</a>
    <hr />
    <p>Don't have an account?</p>
    <a href="#" class="smallBtn" (click)="toggleForm()">Sign Up</a>
  </div>

  <!-- Sign Up Form -->
  <div class="signupForm form-transition" *ngIf="!showSignInForm">
    <h1>Sign Up</h1>
    <form>
      <input
        type="text"
        placeholder="First Name"
        [(ngModel)]="signUpData.firstName"
        name="firstName"
        required
        (input)="validateName($event)"
      />
      <span *ngIf="errors.firstNameInvalid">Please fill in the input</span>
      <input
        type="text"
        placeholder="Last Name"
        [(ngModel)]="signUpData.lastName"
        name="lastName"
        required
        (input)="validateName($event)"
      />
      <span *ngIf="errors.lastNameInvalid">Please fill in the input</span>
      <hr />
      <!-- Block autofill in signup page -->
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="signUpData.username"
        name="username"
        required
        (input)="validateUsername($event)"
        autocomplete="new-password"
      />
      <input
        type="text"
        placeholder="Email"
        [(ngModel)]="signUpData.email"
        name="email"
        required
        (input)="validateEmail($event)"
        autocomplete="new-password"
      />
      <span *ngIf="errors.emailInvalid">Please enter a valid E-mail</span>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="signUpData.password"
        name="password"
        required
        (input)="validatePassword($event)"
        autocomplete="new-password"
      />
      <span *ngIf="errors.passwordInvalid">Password must be valid</span>
      <input
        type="password"
        placeholder="Confirm Password"
        [(ngModel)]="signUpData.confirmPassword"
        name="confirmPassword"
        required
        (input)="confirmPasswordMatch($event)"
        autocomplete="new-password"
      />
      <span *ngIf="errors.noPasswordMatch">Passwords don't match</span>
      <div class="submit">
        <button type="submit">Sign Up</button>
      </div>
    </form>
    <hr />
    <p>Already have an account?</p>
    <a href="#" class="smallBtn" (click)="toggleForm()">Sign In</a>
  </div>
</div>