<div class="container">
  <a routerLink="/">
    <!-- <img class="logoImg" src=" "/> INSERT LOGO-->
  </a>

  <!-- Sign In Form -->
  <div class="signinForm form-transition" *ngIf="showSignInForm">
    <h1>Sign In</h1>
    <form (ngSubmit)="onLogin()">
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="signInForm.username"
        name="username"
        required
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="signInForm.password"
        name="password"
        required
      />
      <span *ngIf="loginError" id="logInError"
        >Incorrect email or password</span
      >
      <label>
        Remember Me
        <input type="checkbox" />
      </label>
      <div class="submit">
        <button type="submit">Sign In</button>
      </div>
    </form>
    <p>Having trouble signing in?</p>
    <a href="#" class="smallBtn">Reset your Password</a>
    <hr />
    <p>Don't have an account?</p>
    <a href="#" class="smallBtn" (click)="toggleForm()">Sign Up</a>
  </div>

  <!-- Sign Up Form -->
  <div class="signupForm form-transition" *ngIf="!showSignInForm">
    <h1>Sign Up</h1>
    <form (ngSubmit)="onRegister()">
      <input
        type="text"
        placeholder="First Name"
        [(ngModel)]="signUpForm.firstName"
        name="firstName"
        required
      />
      <span *ngIf="!validationErrors.firstNameValid">{{
        validationErrorMessages.firstNameError
      }}</span>
      <input
        type="text"
        placeholder="Last Name"
        [(ngModel)]="signUpForm.lastName"
        name="lastName"
        required
      />
      <span *ngIf="!validationErrors.lastNameValid">{{
        validationErrorMessages.lastNameError
      }}</span>
      <hr />
      <!-- Block autofill in signup page using autocomplete="new-password" -->
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="signUpForm.username"
        name="username"
        required
        autocomplete="new-password"
      />
      <span *ngIf="!validationErrors.usernameValid">
        {{ validationErrorMessages.usernameError }}
      </span>
      <input
        type="text"
        placeholder="Email"
        [(ngModel)]="signUpForm.email"
        name="email"
        required
        autocomplete="new-password"
      />
      <span *ngIf="!validationErrors.emailValid">{{
        validationErrorMessages.emailError
      }}</span>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="signUpForm.password"
        name="password"
        required
        autocomplete="new-password"
      />
      <span
        *ngIf="!validationErrors.passwordValid"
        class="password-requirements"
        >{{ validationErrorMessages.passwordError }}
      </span>
      <input
        type="password"
        placeholder="Confirm Password"
        name="confirmPassword"
        required
        autocomplete="new-password"
        (input)="confirmPasswordMatch($event)"
      />
      <span *ngIf="!validationErrors.passwordsMatch">{{
        validationErrorMessages.passwordMatchError
      }}</span>
      &nbsp;
      <div class="radio">
        <label>
          <input
            type="radio"
            name="role"
            [(ngModel)]="signUpForm.role"
            value="admin"
            required
          />
          Admin
        </label>
        <label>
          <input
            type="radio"
            name="role"
            [(ngModel)]="signUpForm.role"
            value="user"
            required
          />
          User
        </label>
      </div>
      <div class="submit">
        <button type="submit">Sign Up</button>
      </div>
    </form>
    &nbsp;
    <hr />
    <p>Already have an account?</p>
    <a href="#" class="smallBtn" (click)="toggleForm()">Sign In</a>
  </div>
</div>
