body {
  background-color: black;
  color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
  display: flex;
}

.container {
  background-color: var(--side-bar-1-background);
  color: var(--side-bar-1-text);
  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.separator {
  align-self: center;
  background-color: var(--separator-color);
  border-bottom: var(--separator-color);
  border-left: var(--separator-color);
  border-right: var(--separator-color);
  border-top: var(--separator-color);
  color: var(--separator-color);
  height: 2px;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

chat-team-side-bar {
  width: fit-content;
  flex: 0 0 auto;
  background-color: var(--side-bar-1-background);
  color: var(--side-bar-1-text);
  display: flex;
  flex-direction: column;
  height: 100%;
}

chat-channel-side-bar {
  width: fit-content;
  flex: 0 0 auto;
  background-color: var(--side-bar-2-background);
  color: var(--side-bar-2-text);
  display: flex;
  flex-direction: column;
  height: 100%;
}

chat-chat-log {
  width: fit-content;
  flex-grow: 1;
  background-color: var(--chat-box-background);
  color: var(--chat-box-text);
  display: flex;
  flex-direction: column;
  height: 100%;
}

chat-informartion-side-bar {
  width: fit-content;
  flex: 0 0 auto;
  background-color: var(--team-list-background);
  color: var(--team-list-text);
  display: flex;
  flex-direction: column;
  height: 100%;
}
