.team-setting-sidebar {
  background-color: var(--side-bar-2-background);
  color: var(--message-input-text);
  border-left: 5px solid var(--separator-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  max-width: 20rem;
  min-width: 20rem;
  top: 0;
  right: 0;
  /* position: absolute; */
  /* width: auto; */
  /* align-items: center; */
}

h3 h4 {
  margin-bottom: 5px;
}

.title-container {
  align-items: center;
  background-color: var(--side-bar-2-background);
  /* border-bottom: 2px solid var(--separator-color); */
  display: flex;
  flex-shrink: 0;
  height: 3rem;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--side-bar-1-background);
}

.title {
  align-items: center;
  background-color: var(--side-bar-2-background);
  color: var(--side-bar-2-title-text);
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  height: 90%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
  width: 90%;
}

.list {
  width: 100%;
  height: calc(100% - 3rem);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.list ul {
  border-radius: 12px;
  background-color: var(--tab-background);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  scrollbar-width: none;
  width: 100%;
  -ms-overflow-style: none;
}

.list li {
  /* align-items: center; */
  align-items: flex-start;
  background-color: var(--channel-list-background);
  border: none;
  border-radius: 10px;
  color: var(--channel-list-text);
  cursor: pointer;
  display: flex;
  margin: 1px 0;
  max-height: none; /*removing max height restriction*/
  max-width: 95%;
  min-height: 2.5rem; /*increasing min height to fit 2 lines*/
  min-width: 95%;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  justify-content: space-between;
  gap: 5px;
}

.list li:hover {
  background-color: var(--channel-list-backround-hover);
  color: var(--channel-list-text-hover);
}

.member-user-name {
  color: var(--message-username);
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
}

.member-button {
  background-color: inherit;
  border: none;
  border-radius: 50%;
  color: var(--add-team-button-text);
  cursor: pointer;
  font-size: 16px;
  height: 1.5rem;
  outline: none;
  padding: 0;
  width: 1.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-button:hover {
  color: var(--tab-text-hover);
}

.tab-container {
  border: 2px solid var(--tab-background);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-left: 2px solid var(--separator-color);
}

/* Style the tab content */

.radio-inputs {
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  background-color: var(--tab-background);
  box-sizing: border-box;
  font-size: 14px;
  width: 90%;
  padding: 0.5rem 1rem 0 1rem;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.8rem;
  transition: all 0.15s ease-in-out;
  position: relative;
  background-color: var(--tab-background);
  color: var(--tab-text);
}

.radio-inputs .radio input:checked + .name {
  background-color: var(--tab-active-background);
  font-weight: 600;

  color: var(--tab-text-hover);
}
.radio-inputs .radio input + .name:hover {
  color: var(--tab-text-hover);
}
.radio-inputs .radio input:checked + .name:hover {
  color: var(--tab-text-hover);
}

.radio-inputs .radio input:checked + .name::after,
.radio-inputs .radio input:checked + .name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--tab-background);
  bottom: 0;
}

.radio-inputs .radio input:checked + .name::after {
  right: -10px;
  border-bottom-left-radius: 300px;
  box-shadow: -3px 3px 0px 3px var(--tab-active-background);
  z-index: 1;
}
.radio-inputs .radio input:checked + .name::before {
  left: -10px;
  border-bottom-right-radius: 300px;
  z-index: 1;
  box-shadow: 3px 3px 0px 3px var(--tab-active-background);
}

.tab-content {
  width: 95%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--tab-active-background);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.user-information  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  transform: translateZ(0);
  backface-visibility: hidden;
  width: 100%
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
}

.user-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.inbox-information {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  gap: 10px;
  width: 15rem;
  overflow: hidden;
  text-align: left;
}

.accept-button {
  background-color: var(--accept-bg-color);
  color: var(--accept-text-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.accept-button:hover {
  background-color: var(--accept-hover-bg-color);
}

.decline-button {
  background-color: var(--decline-bg-color);
  color: var(--decline-text-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.decline-button:hover {
  background-color: var(--decline-hover-bg-color);
}

.demande-container {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  height: 0.75rem;
  width: 0.75rem;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: white;
  border: 3px solid red;
  border-radius: 50%;
  background-color: red;
  animation: 1.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 red;
  }

  100% {
    box-shadow: 0 0 0 14px #69ffa800;
  }
}

.status-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  will-change: background-color;
  transition: background-color 0.1s ease-out;
}

.status-online {
  background-color: #44b700;
}

.status-away {
  background-color: #ffa600ec;
}

.status-offline {
  background-color: #808080;
}

.member-name {
  will-change: transform;
  transform: translateZ(0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member-last-seen {
  font-size: 0.8rem;
  color: #888;
  margin-left: 15px; /* Add indentation to align with username */
  white-space: nowrap;
}
