<div class="team-setting-sidebar" id="team-setting-sidebar">
  <header class="title-container">
    <title class="title">Information</title>
  </header>

  <div class="tab-container">
    <div class="radio-inputs">
      <label class="radio" *ngIf="!isDirectMessage">
        <input
          type="radio"
          name="radio"
          (click)="changeTab('team')"
          [checked]="activeTab === 'team'"
        />
        <span class="name">Team</span>
      </label>
      <label class="radio">
        <input
          type="radio"
          name="radio"
          (click)="changeTab('chat')"
          [checked]="activeTab === 'chat'"
        />
        <span class="name">Chat</span>
      </label>
      <label class="radio" *ngIf="isDirectMessage">
        <input
          type="radio"
          name="radio"
          (click)="changeTab('invite')"
          [checked]="activeTab === 'invite'"
        />
        <span class="name"
          >Invite
          <div *ngIf="inviteList.length" class="notification">
            {{ inviteList.length }}
          </div>
        </span>
      </label>
      <label class="radio" *ngIf="!isDirectMessage">
        <input
          type="radio"
          name="radio"
          (click)="changeTab('request')"
          [checked]="activeTab === 'request'"
        />
        <span class="name"
          >Request
          <div *ngIf="requestList.length" class="notification">
            {{ requestList.length }}
          </div>
        </span>
      </label>
    </div>

    <div class="tab-content" *ngIf="activeTab === 'team' && !isDirectMessage">
      <h3 style="margin-bottom: 5px">Team Information{{ teamTitle }}</h3>
      <h4 style="margin-bottom: 5px">Description</h4>
      <p>{{ teamDescription }}</p>
      <h4 style="margin-bottom: 5px">Members</h4>
      <div class="list">
        <ul>
          <li *ngFor="let member of teamMemberList">
            <div class="user-information">
              <div class="user-details">
                <div class="user-header">
                  <div
                    class="status-indicator"
                    [ngClass]="'status-' + member.status"
                  ></div>
                  <i
                    class="fas fa-user-circle member-icon"
                    style="margin: 2px"
                  ></i>
                  <div class="member-name">{{ member.username }}</div>
                </div>
                <div
                  class="member-last-seen"
                  *ngIf="member.status == 'offline'"
                >
                  Last seen: {{ member.lastSeen | date : "short" }}
                </div>
                <div class="member-last-seen" *ngIf="member.status == 'away'">
                  Away
                </div>
                <div class="member-last-seen" *ngIf="member.status == 'online'">
                  Online
                </div>
              </div>
            </div>
            <button
              (click)="createCoversation(member.userId)"
              class="member-button"
              title="Start Conversation"
            >
              <i class="far fa-comment-alt" style="font-size: 1rem"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content" *ngIf="activeTab === 'chat'">
      <h3 style="margin-bottom: 5px">Chat Information{{ chatTitle }}</h3>
      <h4 style="margin-bottom: 5px">Description</h4>
      {{ chatDescription }}
      <h4 style="margin-bottom: 5px">Members</h4>
      <div class="list">
        <ul>
          <li *ngFor="let member of chatMemberList">
            <div class="user-information">
              <div class="user-details">
                <div class="user-header">
                  <div
                    class="status-indicator"
                    [ngClass]="'status-' + member.status"
                  ></div>
                  <i
                    class="fas fa-user-circle member-icon"
                    style="margin: 2px"
                  ></i>
                  <div class="member-name">{{ member.username }}</div>
                </div>
                <div
                  class="member-last-seen"
                  *ngIf="member.status == 'offline'"
                >
                  Last seen: {{ member.lastSeen | date : "short" }}
                </div>
                <div class="member-last-seen" *ngIf="member.status == 'away'">
                  Away
                </div>
                <div class="member-last-seen" *ngIf="member.status == 'online'">
                  Online
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content" *ngIf="activeTab === 'invite' && isDirectMessage">
      <h3 style="margin-bottom: 5px">Invite to Join Channel</h3>
      <h4 style="margin-bottom: 5px">Invite</h4>
      <div class="list">
        <ul>
          <li *ngFor="let invite of inviteList">
            <div class="inbox-information">
              <div class="member-name">
                {{ getChannelName(invite.channelId) }}
              </div>
            </div>
            <div class="demande-container">
              <button
                (click)="acceptRequest(invite)"
                class="accept-button"
                title="Accept"
              >
                <i class="fas fa-check" style="font-size: 1rem"></i> Accept
              </button>
              <button
                (click)="declineRequest(invite)"
                class="decline-button"
                title="Decline"
              >
                <i class="fas fa-times" style="font-size: 1rem"></i> Decline
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="tab-content"
      *ngIf="activeTab === 'request' && !isDirectMessage"
    >
      <h3 style="margin-bottom: 5px">Request to Join Channel</h3>
      <h4 style="margin-bottom: 5px">Request</h4>
      <div class="list">
        <ul>
          <li *ngFor="let request of requestList">
            <div class="inbox-information">
              <i class="fas fa-user-circle member-icon" style="margin: 2px"></i>
              <div class="member-name">
                {{ request.userIdThatYouWantToAdd }}
              </div>
            </div>
            <div class="demande-container">
              <button
                (click)="acceptRequest(request)"
                class="accept-button"
                title="Accept"
              >
                <i class="fas fa-check" style="font-size: 1rem"></i> Accept
              </button>
              <button
                (click)="declineRequest(request)"
                class="decline-button"
                title="Decline"
              >
                <i class="fas fa-times" style="font-size: 1rem"></i> Decline
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
