.team-setting-sidebar {
  background-color: var(--dark-muted-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  max-width: 20rem;
  min-width: 20rem;
  top: 0;
  right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

.title-container {
  align-items: center;
  background-color: var(--dark-muted-color);
  display: flex;
  flex-shrink: 0;
  height: 3rem;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--border-color);
}

.title {
  align-items: center;
  background-color: var(--dark-muted-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  height: 90%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  text-align: left;
  width: 90%;
}

.list {
  width: 100%;
  height: calc(100% - 3rem);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.list ul {
  border-radius: 12px;
  background-color: var(--dark-muted-color);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 2px 0;
  scrollbar-width: none;
  width: 100%;
  -ms-overflow-style: none;
}

.list li {
  align-items: flex-start;
  background-color: var(--dark-muted-color);
  border: none;
  border-radius: 10px;
  color: var(--muted-color);
  cursor: pointer;
  display: flex;
  margin: 1px 0;
  max-height: none;
  max-width: 95%;
  min-height: 2.5rem;
  min-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  justify-content: space-between;
  gap: 5px;
}

.list li:hover {
  background-color: var(--hover-color);
  color: var(--primary-text-color);
}

.member-user-name {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
}

.member-button {
  background-color: inherit;
  border: none;
  border-radius: 50%;
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 16px;
  height: 1.5rem;
  outline: none;
  padding: 0;
  width: 1.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-button:hover {
  color: var(--primary-color);
}

.tab-container {
  border: 2px solid var(--dark-muted-color);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 3rem);
  width: 100%;
  resize: none;
}

.radio-inputs {
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  background-color: var(--dark-muted-color);
  box-sizing: border-box;
  font-size: 14px;
  width: 90%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 0 1rem;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.8rem;
  transition: all 0.15s ease-in-out;
  position: relative;
  background-color: var(--dark-muted-color);
  color: var(--muted-color);
}

.radio-inputs .radio input:checked + .name {
  background-color: var(--hover-color);
  font-weight: 600;
  color: var(--primary-text-color);
}

.radio-inputs .radio input + .name:hover {
  color: var(--primary-text-color);
}

.radio-inputs .radio input:checked + .name:hover {
  color: var(--primary-text-color);
}

.radio-inputs .radio input:checked + .name::after,
.radio-inputs .radio input:checked + .name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var (--dark-muted-color);
  bottom: 0;
}

.radio-inputs .radio input:checked + .name::after {
  right: -10px;
  border-bottom-left-radius: 300px;
  box-shadow: -3px 3px 0px 3px var(--hover-color);
  z-index: 1;
}

.radio-inputs .radio input:checked + .name::before {
  left: -10px;
  border-bottom-right-radius: 300px;
  z-index: 1;
  box-shadow: 3px 3px 0px 3px var(--hover-color);
}

.tab-content {
  width: 95%;
  height: calc(100% - 3rem - 10px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--hover-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.user-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  transform: translateZ(0);
  backface-visibility: hidden;
  width: 100%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.inbox-information {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.accept-button {
  background-color: var(--success-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.accept-button:hover {
  background-color: var(--success-color);
}

.decline-button {
  background-color: var(--error-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.decline-button:hover {
  background-color: var(--error-color);
}

.demande-container {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  height: 0.75rem;
  width: 0.75rem;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: white;
  border: 3px solid red;
  border-radius: 50%;
  background-color: red;
  animation: 1.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 red;
  }

  100% {
    box-shadow: 0 0 0 14px #69ffa800;
  }
}

.status-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  will-change: background-color;
  transition: background-color 0.1s ease-out;
}

.status-online {
  background-color: #44b700;
}

.status-away {
  background-color: #ffa600ec;
}

.status-offline {
  background-color: #808080;
}

.member-name {
  will-change: transform;
  transform: translateZ(0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member-last-seen {
  font-size: 0.8rem;
  color: #888;
  margin-left: 15px;
  white-space: nowrap;
}

.message {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.message-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.message-time {
  font-size: 0.8rem;
  color: var(--muted-color);
  margin-bottom: 0.2rem;
}

.message-content {
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.search-input {
  width: 18rem;
  padding: 0.5rem;
  margin: 0.5rem auto;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--dark-muted-color);
  color: var(--primary-text-color);
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.search-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--hover-color);
}

.search-calendar {
  margin: 1rem auto;
  width: 90%;
  background-color: var(--dark-muted-color);
  color: var(--primary-text-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-calendar .mat-calendar {
  background-color: var(--dark-muted-color);
  color: var(--primary-text-color);
}

.search-calendar .mat-calendar-body-cell-content {
  color: var(--primary-text-color);
}

.search-calendar .mat-calendar-body-selected {
  background-color: var(--primary-color);
  color: var(--dark-muted-color);
}

::ng-deep .mat-calendar {
  background-color: var(--dark-muted-color);
  color: var(--primary-text-color);
}

::ng-deep .mat-calendar-body {
  background-color: var(--dark-muted-color);
  color: var(--primary-text-color);
}

::ng-deep .mat-calendar-body-cell {
  background-color: var(--dark-muted-color);
  color: var(--primary-text-color);
}

::ng-deep .mat-calendar-body-cell-content {
  background-color: var(--dark-muted-color);
  color: var(--primary-text-color);
}

::ng-deep .mat-calendar-body-cell:hover {
  background-color: var(--hover-color);
  color: var(--primary-text-color);
  border-radius: 25px;
}

::ng-deep .mat-calendar-body-cell:focus {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border-radius: 25px;
}

::ng-deep .mat-calendar-body-today {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  border-radius: 50%;
}

.mat-calendar {
  background-color: var(--dark-muted-color);
  color: var(--primary-text-color);
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  box-shadow: 0 4px 8px var(--primary-color);
}

.calendar {
  position: absolute;
  top: 13rem;
  right: 0.75rem;
  width: 18rem;
  height: max-content;
  z-index: 1;
  border-radius: 8px;
  height: 30rem;
}

.command-recommendations {
  width: 18rem;
  position: absolute;
  top: 13rem;
  right: 0.75rem;
  border: 1px solid var(--primary-color);
  margin: 0.5rem auto;
  padding: 0;
  background-color: var(--dark-background);
  border-radius: 8px;
  overflow-y: auto;
  list-style: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 3;
}

.command-recommendations::-webkit-scrollbar {
  display: none;
}

.command-recommendations li {
  padding: 0.5rem;
  cursor: pointer;
  color: var(--secondary-text-color);
}

.command-recommendations li:hover {
  /* background-color: red; */
  background-color: var(--hover-color);
}
