<div class="container">
  <div class="form-container">
    <h1>Create Team</h1>
    <form class="form" (ngSubmit)="createTeam()" #teamForm="ngForm">
      <!-- Team Name -->
      <div class="form-group">
        <label for="teamName">Team Name</label>
        <input
          type="text"
          id="teamName"
          [(ngModel)]="teamName"
          name="teamName"
          required
          #teamNameInput="ngModel"
        />
        <div
          *ngIf="teamNameInput.invalid && teamNameInput.touched"
          class="error-message"
        >
          Team name is required.
        </div>
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          cols="50"
          rows="10"
          [(ngModel)]="description"
          name="description"
          required
          #descriptionInput="ngModel"
        ></textarea>
        <div
          *ngIf="descriptionInput.invalid && descriptionInput.touched"
          class="error-message"
        >
          Description is required.
        </div>
      </div>

      <!-- Add Member -->
      <div class="form-group">
        <label for="searchQuery">Add Member</label>
        <div class="container-add-member">
          <input
            type="text"
            id="searchQuery"
            [(ngModel)]="searchQuery"
            name="searchQuery"
            required
            #searchQueryInput="ngModel"
          />
          <button class="add-member-btn" type="button" (click)="search()">
            Add
          </button>
        </div>
        <div class="found-message" *ngIf="found" style="height: 50px">
          {{ found }}
        </div>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="form-submit-btn"
        [disabled]="teamForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
