<div class="container">
  <div class="form-container">
    <h1>Create Team</h1>
    <form class="form" (ngSubmit)="createTeam()">
      <div class="form-group">
        <label>Team Name</label>
        <input required="" type="text" [(ngModel)]="teamName" name="teamName" />
      </div>
      <div class="form-group">
        <label for="textarea">Description</label>
        <textarea
          required=""
          cols="50"
          rows="10"
          id="textarea"
          name="textarea"
          [(ngModel)]="description"
        ></textarea>
      </div>
      <div class="form-group">
        <label>Add Member</label>
        <div class="container-add-member">
          <input
            required=""
            type="text"
            [(ngModel)]="searchQuery"
            name="searchQuery"
          />
          <button class="add-member-btn" type="button" (click)="search()">
            Add
          </button>
        </div>
        <!-- need to work on that -->
        <div style="text-align: center; height: 10px">{{ found }}</div>
      </div>
      <button type="submit" class="form-submit-btn">Submit</button>
    </form>
  </div>
</div>
