<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<body [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
  <div class="container">
    <chat-team-sidebar [userId]="userId"></chat-team-sidebar>
    <chat-channel-sidebar
      *ngIf="selectedTeamId || isDirectMessage"
      [userId]="userId"
    ></chat-channel-sidebar>
    <div
      class="card-container"
      id="card-container"
      *ngIf="selectedConversationId === ''"
    >
      <div class="card">
        <h2 *ngIf="selectedTeamId === '' && !isDirectMessage">
          Please choose a team or go to direct message to continue
        </h2>
        <h2 *ngIf="isDirectMessage && selectedConversationId === ''">
          Please choose a conversation to continue
        </h2>
        <h2 *ngIf="!isDirectMessage && selectedTeamId !== ''">
          Please choose a channel to continue
        </h2>
      </div>
    </div>
    <chat-chat-log
      *ngIf="selectedConversationId"
      [userId]="userId"
    ></chat-chat-log>
    <chat-information-sidebar *ngIf="selectedConversationId" [userId]="userId">
    </chat-information-sidebar>
    <div class="button-container" *ngIf="selectedConversationId">
      <!-- (click) teamlist toggle -->
      <button class="team-list-toggle-button" title="Toggle Team List">
      <i
        class="fa"
        (click)="toggleInformationBar()"
        [ngClass]="isInformationOpen ? 'fa-times' : 'fa-bars'"
        style="font-size: 24px"
      ></i>
      </button>
    </div>
  </div>
</body>
