<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<body [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
  <div class="container">
    <chat-team-sidebar></chat-team-sidebar>
    <chat-channel-sidebar></chat-channel-sidebar>
    <chat-chat-log></chat-chat-log>
    <chat-information-sidebar *ngIf="isInformationOpen"> </chat-information-sidebar>
    <div class="button-container">
      <button class="team-list-toggle-button" title="Toggle Team List">
        <i
          class="fa"
          (click)="toggleInformationBar()"
          [ngClass]="isInformationOpen ? 'fa-times' : 'fa-bars'"
          style="font-size: 24px"
        ></i>
      </button>
    </div>
  </div>
</body>
