.body {
  margin: 0;
  padding: 0;
}
.pop-up-container {
  /* border-radius: 16px; */
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: var(--pop-up-primary-bg);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: black;
  font-weight: 600;
  margin-bottom: 16px;
}
.form-container .form-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 5px;
}

.form-container {
  width: 400px;
  background: linear-gradient(
        var(--pop-up-primary-bg),
        var(--pop-up-primary-bg)
      )
      padding-box,
    linear-gradient(
        145deg,
        transparent 35%,
        var(--pop-up-gradient-color1),
        var(--pop-up-gradient-color2)
      )
      border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: var(--pop-up-text-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--pop-up-label-color);
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--pop-up-text-color);
  font-family: inherit;
  background-color: transparent;
  border: 1px solid var(--pop-up-border-color);
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: var(--pop-up-text-color);
  height: 96px;
  border: 1px solid var(--pop-up-border-color);
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: var(--pop-up-gradient-color1);
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: var(--pop-up-gradient-color1);
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: var(--pop-up-label-color);
  font-weight: 600;
  width: 40%;
  background: var(--pop-up-button-bg);
  border: 1px solid var(--pop-up-border-color);
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-add-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: var(--pop-up-label-color);
  font-weight: 600;
  width: 40%;
  background: var(--pop-up-button-bg);
  border: 1px solid var(--pop-up-border-color);
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-add-btn:hover,
.form-container .form-submit-btn:hover {
  background-color: var(--pop-up-button-hover);
  border-color: var(--pop-up-button-hover);
}

/*Team member List*/
.team-member-team {
  border-radius: 5px;
  border-color: var(--pop-up-border-color);
  overflow: auto;
  max-height: 50vh;
  scrollbar-width: none; /* For Firefox */
}

.team-member-team::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.team-member-team thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
}
th,
td {
  padding: 16px 16px; /* Increase the padding to increase row height */
}
th {
  background: var(--pop-up-gradient-color1);
}

tr:hover {
  border-radius: 15px;
  background: var(--pop-up-button-bg);
}

/* The container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  background-color: var(--pop-up-button-bg);
  border-color: var(--pop-up-border-color);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--pop-up-button-hover);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--pop-up-gradient-color1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--pop-up-text-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
